/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}
::-webkit-scrollbar {
  width: 4px;
}

/* ::-webkit-scrollbar-track {
  background: #ffffff3a;
} */

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

body{
  margin: 0px;
  padding: 0px;
  margin: 0px;
  /* background-color: var(--backgroundColor); */
  background-color: black;
}

.scroll-section-outer {
  overflow: hidden;
  /* margin-top: 100vh; */
}

.scroll-section-inner {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}




/* --------------- */


.loaderContainer {
  width: 100vw;
  height: 100vh;
  color: white !important;
  position: relative;
  text-align: center;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.follow {
  position: absolute;
  background-color: #f48049;  
  /* // #f48049 */
  height: 2px;
  witdh: 0;
  left: 0;
  z-index: 2;
}

.progressbar {
  position: absolute;
  background-color: #fff;
  height: 2px;
  transition: 0.4s ease-out;
  witdh: 0;
  left: 0;
}

.count {
  position: absolute;
  font-size: 130px;
  font-weight: bold;
  transfrom: translateY(-15px)
}

/* .loaderContent {
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  color: white;
  background-color: black;
} */