/* @import 'node_modules/locomotive-scroll/dist/locomotive-scroll'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #292929;
  --primaryColor: #0aa1ff;
  --primaryTextColor: #e6e6e6;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}
::-webkit-scrollbar {
  width: 4px;
}

/* ::-webkit-scrollbar-track {
  background: #ffffff3a;
} */

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

body{
  margin: 0px;
  padding: 0px;
  margin: 0px;
  /* background-color: var(--backgroundColor); */
  background-color: black;
}

.scroll-section-outer {
  overflow: hidden;
  /* margin-top: 100vh; */
}

.scroll-section-inner {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}
